<div class="docs-markdown"><h1 data-ng_translator_product="100" data-ng_translator_ref_id="eicf6knr4cvmilp9h8zqtddgc">用 CDK 步进器创建一个自定义步进器</h1><p data-ng_translator_product="100" data-ng_translator_ref_id="aaddyhfmd7pqk14zh9xqe0jmv"><a href="https://material.angular.cn/cdk/stepper/overview">CDK 步进器</a>允许建立一个自定义的步进器，你可以完全使用自己的样式，不用任何 Material Design 特有的样式。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="4hzhv69twpuimqcxh5c5itbdn">在本指南中，我们将学习如何使用 CDK 步进器构建自己的自定义步进器。以下是本指南会做出的成品：</p>
<div material-docs-example="cdk-custom-stepper-without-form"></div>


        <h2 id="create-our-custom-stepper-component" class="docs-header-link" data-ng_translator_product="100" data-ng_translator_ref_id="1rphlb5yigf9o3e4y3rj6fylv">创建我们的自定义步进器组件</h2>
      <p data-ng_translator_product="100" data-ng_translator_ref_id="3hvng29y3alxsjg8izhcevsxg">现在，我们准备创建自定义步进器组件。因此，我们需要创建一个扩展了 <code>CdkStepper</code> 的新 Angular 组件：</p>
<p><strong>custom-stepper.component.ts</strong></p>
<pre><code class="language-ts"><span class="hljs-meta">@Component</span>({
  <span class="hljs-attr">selector</span>: <span class="hljs-string">'app-custom-stepper'</span>,
  <span class="hljs-attr">templateUrl</span>: <span class="hljs-string">'./custom-stepper.component.html'</span>,
  <span class="hljs-attr">styleUrl</span>: <span class="hljs-string">'./custom-stepper.component.css'</span>,
  <span class="hljs-comment">// This custom stepper provides itself as CdkStepper so that it can be recognized</span>
  <span class="hljs-comment">// by other components.</span>
  <span class="hljs-attr">providers</span>: [{ <span class="hljs-attr">provide</span>: CdkStepper, <span class="hljs-attr">useExisting</span>: CustomStepperComponent }]
})
<span class="hljs-keyword">export</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">CustomStepperComponent</span> <span class="hljs-keyword">extends</span> <span class="hljs-title">CdkStepper</span> </span>{
  onClick(index: <span class="hljs-built_in">number</span>): <span class="hljs-built_in">void</span> {
    <span class="hljs-built_in">this</span>.selectedIndex = index;
  }
}
</code></pre>
<p data-ng_translator_product="100" data-ng_translator_ref_id="75z7qoagev8wvx0p0nrt4gwss">在从 <code>CdkStepper</code> 扩展出一个组件类之后，可以从这个类访问不同的属性，比如 <code>linear</code>、<code>selectedIndex</code> 和 <code>steps</code>。这些属性的定义位于这个 <a href="https://material.angular.cn/cdk/stepper/api#CdkStepper">API 文档</a>中。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="d5lyx8aqf5mzuyrr998ft4p6m">这是我们自定义步进器组件的 HTML 模板：</p>
<p><strong>custom-stepper.component.html</strong></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">section</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"container"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">header</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>Step {{selectedIndex + 1}}/{{steps.length}}<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> [<span class="hljs-attr">style.display</span>]=<span class="hljs-string">"selected ? 'block' : 'none'"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- Content from the CdkStep is projected here --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ng-container</span> [<span class="hljs-attr">ngTemplateOutlet</span>]=<span class="hljs-string">"selected.content"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">ng-container</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">footer</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"step-navigation-bar"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav-button"</span> <span class="hljs-attr">cdkStepperPrevious</span>&gt;</span><span class="hljs-symbol">&amp;larr;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    @for (step of steps; track step) {
      <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"step"</span> [<span class="hljs-attr">class.active</span>]=<span class="hljs-string">"selectedIndex === $index"</span> (<span class="hljs-attr">click</span>)=<span class="hljs-string">"onClick(i)"</span>&gt;</span>
        Step {{i + 1}}
      <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    }
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"nav-button"</span> <span class="hljs-attr">cdkStepperNext</span>&gt;</span><span class="hljs-symbol">&amp;rarr;</span><span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">footer</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">section</span>&gt;</span>
</code></pre>
<p data-ng_translator_product="100" data-ng_translator_ref_id="19w1pihcf8pl3nr57umuh5mlz">在 <code>app.component.css</code> 文件中，我们可以为步进器添加所希望的样式了：</p>
<p><strong>custom-stepper.component.css</strong></p>
<pre><code class="language-css"><span class="hljs-selector-class">.example-container</span> {
  <span class="hljs-attribute">border</span>: <span class="hljs-number">1px</span> solid black;
  <span class="hljs-attribute">padding</span>: <span class="hljs-number">10px</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">10px</span>;
}

<span class="hljs-selector-class">.example-step-navigation-bar</span> {
  <span class="hljs-attribute">display</span>: flex;
  <span class="hljs-attribute">justify-content</span>: flex-start;
  <span class="hljs-attribute">margin-top</span>: <span class="hljs-number">10px</span>;
}

<span class="hljs-selector-class">.example-active</span> {
  <span class="hljs-attribute">color</span>: blue;
}

<span class="hljs-selector-class">.example-step</span> {
  <span class="hljs-attribute">background</span>: transparent;
  <span class="hljs-attribute">border</span>: <span class="hljs-number">0</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">10px</span>;
  <span class="hljs-attribute">padding</span>: <span class="hljs-number">10px</span>;
  <span class="hljs-attribute">color</span>: black;
}

<span class="hljs-selector-class">.example-step</span><span class="hljs-selector-class">.example-active</span> {
  <span class="hljs-attribute">color</span>: blue;
  <span class="hljs-attribute">border-bottom</span>: <span class="hljs-number">1px</span> solid blue;
}

<span class="hljs-selector-class">.example-nav-button</span> {
  <span class="hljs-attribute">background</span>: transparent;
  <span class="hljs-attribute">border</span>: <span class="hljs-number">0</span>;
}
</code></pre>

        <h2 id="using-our-new-custom-stepper-component" class="docs-header-link" data-ng_translator_product="100" data-ng_translator_ref_id="8ltgvle6rc37ed3vwqq5o0r09">使用我们新的自定义步进器组件</h2>
      <p data-ng_translator_product="100" data-ng_translator_ref_id="eg1djyq005w0k2d42udlxc5e0">现在，我们已准备好使用新的自定义步进器组件了，并且用一些步骤填充它。我们可以把它添加到 <code>app.component.html</code> 中，并定义一些步骤：</p>
<p><strong>app.component.html</strong></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">app-custom-stepper</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">cdk-step</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>This is any content of "Step 1"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">cdk-step</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">cdk-step</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>This is any content of "Step 2"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">cdk-step</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">app-custom-stepper</span>&gt;</span>
</code></pre>
<p data-ng_translator_product="100" data-ng_translator_ref_id="4uvmz0egpt7srmpbf3z9ajk2r">如你所见，在这个例子中，各个步骤都需要包裹在一个 <code>&lt;cdk-step&gt;</code> 标记里。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="4djud23ba1sge0gq6qpfdyl63">你可以迭代这些步骤并使用这个自定义组件了，例子如下：</p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">app-custom-stepper</span>&gt;</span>
  @for (step of mySteps; track step) {
    <span class="hljs-tag">&lt;<span class="hljs-name">cdk-step</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">my-step-component</span> [<span class="hljs-attr">step</span>]=<span class="hljs-string">"$index"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">my-step-component</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">cdk-step</span>&gt;</span>
  }
<span class="hljs-tag">&lt;/<span class="hljs-name">app-custom-stepper</span>&gt;</span>
</code></pre>

        <h2 id="linear-mode" class="docs-header-link" data-ng_translator_product="100" data-ng_translator_ref_id="a4dqtmnmlztqwbig5bjya1mu7">线性模式</h2>
      <p data-ng_translator_product="100" data-ng_translator_ref_id="bwlhjajb8w8y7hd0y6u1djwxm">上面的例子允许用户在所有步骤之间自由导航。此外，<code>CdkStepper</code> 还提供了线性模式，它可以要求用户在继续之前必须完成之前的步骤。</p>
<p data-ng_translator_product="100" data-ng_translator_ref_id="2a0q12cnvvexcio6ypw9aowsu">一个不涉及表单的简单例子是这样的：</p>
<p><strong>app.component.html</strong></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">app-custom-stepper</span> <span class="hljs-attr">linear</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">cdk-step</span> <span class="hljs-attr">editable</span>=<span class="hljs-string">"false"</span> [<span class="hljs-attr">completed</span>]=<span class="hljs-string">"completed"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"a"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"Cannot proceed to next step"</span> /&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> (<span class="hljs-attr">click</span>)=<span class="hljs-string">"completeStep()"</span>&gt;</span>Complete step<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">cdk-step</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">cdk-step</span> <span class="hljs-attr">editable</span>=<span class="hljs-string">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"b"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"b"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">cdk-step</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">app-custom-stepper</span>&gt;</span>
</code></pre>
<p><strong>app.component.ts</strong></p>
<pre><code class="language-ts"><span class="hljs-keyword">export</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">AppComponent</span> </span>{
  completed = <span class="hljs-literal">false</span>;

  completeStep(): <span class="hljs-built_in">void</span> {
    <span class="hljs-built_in">this</span>.completed = <span class="hljs-literal">true</span>;
  }
}
</code></pre>
</div>