<h4 data-ng_translator_product="100" data-ng_translator_ref_id="8bnc9bwj2w16883mekq1ubbfy">带初始值的简单 mat-select</h4>
<mat-form-field>
  <mat-label>Favorite Food</mat-label>
  <mat-select [(value)]="selectedFood">
    <mat-option></mat-option>
    @for (option of foods; track option) {
      <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
    }
  </mat-select>
</mat-form-field>
<p data-ng_translator_product="100" data-ng_translator_ref_id="abfexatmczp3e69d7mau1sdcu">你选择了：{{selectedFood}}</p>

<h4 data-ng_translator_product="100" data-ng_translator_ref_id="9tag9oidfd7erff3dwuleq09">带初始值的简单原生选择器</h4>
<mat-form-field>
  <mat-label>Favorite Car</mat-label>
  <select matnativecontrol (change)="selectCar($event)">
    <option value=""></option>
    @for (option of cars; track option) {
      <option [value]="option.value" [selected]="selectedCar === option.value">{{ option.viewValue }}</option>
    }
  </select>
</mat-form-field>
<p data-ng_translator_product="100" data-ng_translator_ref_id="78bgph023f1k5t7oxd8am7ia0">你选择了：{{selectedCar}}</p>
