<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example-listbox-container"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example-listbox-label"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"example-appointment-label"</span>&gt;</span>
    Appointment Time
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">cdkListbox</span>
      [<span class="hljs-attr">cdkListboxValue</span>]=<span class="hljs-string">"appointment"</span>
      [<span class="hljs-attr">cdkListboxCompareWith</span>]=<span class="hljs-string">"compareDate"</span>
      (<span class="hljs-attr">cdkListboxValueChange</span>)=<span class="hljs-string">"appointment = $event.value"</span>
      <span class="hljs-attr">aria-labelledby</span>=<span class="hljs-string">"example-appointment-label"</span>
      <span class="hljs-attr">class</span>=<span class="hljs-string">"example-listbox"</span>&gt;</span>
    @for (time of slots; track time) {
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span> [<span class="hljs-attr">cdkOption</span>]=<span class="hljs-string">"time"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"example-option"</span>&gt;</span>{{formatTime(time)}}<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    }
  <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
@if (appointment[0]) {
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
    Your appointment is scheduled for <span class="hljs-tag">&lt;<span class="hljs-name">strong</span>&gt;</span>{{formatAppointment() | json}}<span class="hljs-tag">&lt;/<span class="hljs-name">strong</span>&gt;</span><span class="hljs-symbol">&amp;nbsp;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
}
