<ng-container matcolumndef="position">
    </ng-container><ng-container matcolumndef="name">
    </ng-container><ng-container matcolumndef="weight">
    </ng-container><ng-container matcolumndef="symbol">
    </ng-container><table mat-table [datasource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <tbody><tr><th mat-header-cell *matheadercelldef data-ng_translator_product="100" data-ng_translator_ref_id="ewpqj39l578vb3i1skrfwikqk">不。</th>
    <td mat-cell *matcelldef="let element">{{element.position}}</td>
  

  <!-- Name Column -->
  <th mat-header-cell *matheadercelldef data-ng_translator_product="100" data-ng_translator_ref_id="4dkesj3d12v3li73mgaxabh53">名称</th>
    <td mat-cell *matcelldef="let element">{{element.name}}</td>
  

  <!-- Weight Column -->
  <th mat-header-cell *matheadercelldef data-ng_translator_product="100" data-ng_translator_ref_id="8azg7j8obbj9t9rkt2u0ak2zk">重量</th>
    <td mat-cell *matcelldef="let element">{{element.weight}}</td>
  

  <!-- Symbol Column -->
  <th mat-header-cell *matheadercelldef data-ng_translator_product="100" data-ng_translator_ref_id="5xiw1gbpmrz9czmn84a7vngz">符号</th>
    <td mat-cell *matcelldef="let element">{{element.symbol}}</td>
  

  </tr><tr mat-header-row *matheaderrowdef="displayedColumns"></tr>
  <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)" *matrowdef="let row; columns: displayedColumns;"></tr>
</tbody></table>

<div>
  <h3 data-ng_translator_product="100" data-ng_translator_ref_id="8eavb9rbj0zfra8z8suw9yrqk">点击日志</h3>
</div>

@if (!clickedRows.size) {
  <div>Clicked rows will be logged here</div>
}

<ul>
  @for (clickedRow of clickedRows; track clickedRow) {
    <li data-ng_translator_product="100" data-ng_translator_ref_id="cldnzdcsvfar8jae0hw54goer">点击了 {{clickedRow.name}}</li>
  }
</ul>
