<div cdkdroplistgroup>
  <div class="example-container">
    <h2 data-ng_translator_product="100" data-ng_translator_ref_id="btz3uwk6yhdokprx512s7t6nu">待办事项</h2>

    <div cdkdroplist [cdkdroplistdata]="todo" class="example-list" (cdkdroplistdropped)="drop($event)">
      @for (item of todo; track item) {
        <div class="example-box" cdkdrag>{{item}}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2 data-ng_translator_product="100" data-ng_translator_ref_id="er19jtwpkt8m8vowxuvary986">已完成</h2>

    <div cdkdroplist [cdkdroplistdata]="done" class="example-list" (cdkdroplistdropped)="drop($event)">
      @for (item of done; track item) {
        <div class="example-box" cdkdrag>{{item}}</div>
      }
    </div>
  </div>
</div>
