<form [formGroup]="form">
  <h4>mat-select</h4>
  <mat-form-field>
    <mat-label>Favorite Food</mat-label>
    <mat-select [formcontrol]="foodControl" name="food">
      <mat-option>None</mat-option>
      @for (food of foods; track food) {
        <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="5ct6ouvxdke1ml5edqstp4soy">已选：{{foodControl.value}}</p>
  <h4 data-ng_translator_product="100" data-ng_translator_ref_id="621ww4bbochodb7zueuioe2yp">原生选择器</h4>
  <mat-form-field>
    <mat-label>Favorite Car</mat-label>
    <select matnativecontrol [formcontrol]="carControl" name="car">
      <option value="">None</option>
      @for (car of cars; track car) {
        <option [value]="car.value">{{car.viewValue}}</option>
      }
    </select>
  </mat-form-field>
  <p data-ng_translator_product="100" data-ng_translator_ref_id="f316jcaw4na1xg823dd1yt2ku">已选：{{carControl.value}}</p>
</form>
