@if (shouldRun) {
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <p><mat-checkbox [(ngmodel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()" data-ng_translator_product="100" data-ng_translator_ref_id="1ox9f2mx8u5xakjuxl9sxi0hb">侧边栏切换</button></p>
      <p data-ng_translator_product="100" data-ng_translator_ref_id="68f1zh6vjqpaogpvwnlnpguh8">事件：</p>
      <div class="example-events">
        @for (e of events; track e) {
          <div>{{e}}</div>
        }
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <div>Please open on Stackblitz to see result</div>
}

