<h4>mat-select</h4>
<mat-form-field>
  <mat-label>Choose one</mat-label>
  <mat-select [formcontrol]="selected" [errorstatematcher]="matcher">
    <mat-option>Clear</mat-option>
    <mat-option value="valid">Valid option</mat-option>
    <mat-option value="invalid">Invalid option</mat-option>
  </mat-select>
  <mat-hint>Errors appear instantly!</mat-hint>
  @if (selected.hasError('required')) {
    <mat-error>You must make a selection</mat-error>
  }
  @if (selected.hasError('pattern') &amp;&amp; !selected.hasError('required')) {
    <mat-error>Your selection is invalid</mat-error>
  }
</mat-form-field>

<h4 data-ng_translator_product="100" data-ng_translator_ref_id="7npgg76mhiehnzxfkxh9q3ibk">原生 HTML 选择器</h4>
<mat-form-field class="demo-full-width">
  <mat-label>Choose one</mat-label>
  <select matnativecontrol [formcontrol]="nativeSelectFormControl" [errorstatematcher]="matcher">
    <option value=""></option>
    <option value="valid" selected>Valid option</option>
    <option value="invalid">Invalid option</option>
  </select>
  @if (nativeSelectFormControl.hasError('required')) {
    <mat-error>You must make a selection</mat-error>
  }
  @if (nativeSelectFormControl.hasError('pattern') &amp;&amp; !nativeSelectFormControl.hasError('required')) {
    <mat-error>Your selection is invalid</mat-error>
  }
</mat-form-field>
