<h1 data-ng_translator_product="100" data-ng_translator_ref_id="bl2cpfszxvh476hby8qgk7a3y">最喜欢的动物</h1>
<div>
  My favorite animal is:
  <ul>
    <li data-ng_translator_product="100" data-ng_translator_ref_id="2op15f3rrt5f7ugm6bug3nyq3">@if (data.animal === 'panda') { 
<span>✓</span> } 熊猫</li>
    <li data-ng_translator_product="100" data-ng_translator_ref_id="5z1d58dbpjonn18hxi7z5xj43">@if (data.animal === 'unicorn') { 
<span>✓</span> } 独角兽</li>
    <li data-ng_translator_product="100" data-ng_translator_ref_id="3nq9ovnb4apolmxgggkeah1dr">@if (data.animal === 'lion') { 
<span>✓</span> } 狮子</li>
  </ul>
</div>
