<ng-container matcolumndef="{{column}}">
      </ng-container><ng-container matcolumndef="expand">
    </ng-container><ng-container matcolumndef="expandedDetail">
    </ng-container><table mat-table [datasource]="dataSource" multitemplatedatarows class="mat-elevation-z8">
  @for (column of columnsToDisplay; track column) {
    <tbody><tr><th mat-header-cell *matheadercelldef data-ng_translator_product="100" data-ng_translator_ref_id="bayn894sahn0teltzc9nhze6t">{{column}}</th>
      <td mat-cell *matcelldef="let element" data-ng_translator_product="100" data-ng_translator_ref_id="19vx9jyw6jpu0e07v2axbv1vv">{{element[column]}}</td>
    
  }
  <th mat-header-cell *matheadercelldef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matcelldef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()" data-ng_translator_product="100" data-ng_translator_ref_id="31mszpfe60z2gho91hzdbku1s">@if (expandedElement === element) { 
<mat-icon>
 keyboard_arrow_up
</mat-icon> } @else { 
<mat-icon>
 keyboard_arrow_down
</mat-icon> }</button>
    </td>
  

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <td mat-cell *matcelldef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailexpand]="element == expandedElement ? 'expanded' : 'collapsed'" data-ng_translator_product="100" data-ng_translator_ref_id="ebz0fzxqlt24ydl7cdgfy16l"><div class="example-element-diagram"> 
 <div class="example-element-position">
   {{element.position}} 
 </div> 
 <div class="example-element-symbol">
   {{element.symbol}} 
 </div> 
 <div class="example-element-name">
   {{element.name}} 
 </div> 
 <div class="example-element-weight">
   {{element.weight}} 
 </div> 
</div> 
<div class="example-element-description">
  {{element.description}} 
 <span class="example-element-description-attribution"> -- 维基百科 </span> 
</div></div>
    </td>
  

  </tr><tr mat-header-row *matheaderrowdef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matrowdef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matrowdef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</tbody></table>
